//! {{ ModuleName }} DTOs (Data Transfer Objects).
//!
//! Input types for the {{ module_name }} module. These represent data
//! coming into the application from client requests.

use serde::Deserialize;

// TODO: Define input DTOs for {{ module_name }}.
//
// Example:
// #[derive(Debug, Deserialize)]
// pub struct Create{{ ModuleName }}Dto {
//     pub name: String,
// }
