//! {{ ModuleName }} repository implementation for AppState.
//!
//! Contains the concrete implementation of `{{ ModuleName }}Repository`
//! for the application's `AppState`.

use super::{{ ModuleName }}Repository;
use crate::app_state::AppState;

impl {{ ModuleName }}Repository for AppState {
    // TODO: Implement repository methods defined in the trait.
}
